@using Microsoft.CodeAnalysis.Scripting
@model IEnumerable<MVCtest.Infrastructure.Models.Product>
@{
    ViewData["Title"] = "Product";
}

<partial name="Notification"></partial>
<div class="text-center">
    <h1 class="display-4">Product List</h1>
    <p>
        Learn about <a href="https://clickandgrab.co.uk">
            Web Shop
        </a>.
    </p>
    <div class="text-md-end">
        <a asp-controller="Product" asp-action="Upsert"><button class="btn btn-primary">Create New Product</button></a>
    </div>
</div>
<br />
<br />
<div>
    <table class="table" id="dtList">
        <thead>
            <tr class="fw-light">
                <th> Title</th>
                <th> ISBN</th>
                <th>Price</th>
                <th> Author</th>
                <th> Cover Type</th>
                <th>Category</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model)
            {
                <tr class="fw-lighter">
                    <td>
                        @obj.Title
                    </td>
                    <td>
                        @obj.ISBN
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td>
                        @obj.Author
                    </td>
                    <td>
                        @obj.Cover.Name
                    </td>

                    <td>
                        @obj.Category.Name
                    </td>

                    <td>
                        <a asp-controller="Product" asp-action="Upsert" asp-route-id="@obj.Id">
                            <button class="btn btn-primary">Edit</button>
                        </a>
                        &nbsp;
                        <a asp-controller="Product" asp-action="Delete" asp-route-id="@obj.Id">
                            <button class="btn btn-primary" onclick="return confirm('Are You Sure You want to DELATE Category @obj.Title')">Delete</button>
                        </a>
                    </td>

                </tr>
            }

        </tbody>
    </table>

</div>

@section Scripts
    {
    <script src="~/js/dtable.js"></script>
}
